/* 헤더 스타일 */
header {
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 2rem;

  box-sizing: border-box;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0) 20%, #000);

  div {
    display: flex;
    align-items: center;
  }

  img {
    width: 5rem;
    margin-right: 2rem;
  }
}

nav {
  display: flex;
  gap: 1.8rem;

  font-size: 1.6rem;
  color: #fff;

  a {
    color: #fff;
    text-decoration-line: none;
  }
}

main {
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
