:root {
  /* Colors */
  --background-base: #fff;
  --background1: #fff;
  --background2: #f5f5f5;
  --background3: #ebebeb;
  --background4: #e0e0e0;
  --background-invert: #212121;
  --background-altbase: #f5f5f5;

  /* Accents */
  --accent1: #121212;
  --accent2: #4a4a4a;
  --accent3: #898989;
  --accent4: silver;
  --accent-invert: #fff;

  /* Borders */
  --border1: #343a40;
  --border2: #adb5bd;
  --border3: #dee2e6;
  --border4: #f1f3f5;

  /* Primary & Secondary Colors */
  --primary: #00bcd4;
  --emphasize: #ff9800;
  --destructive: #f44336;

  /* Page and Element Backgrounds */
  --bg-page1: #f8f9fa;
  --bg-page2: #fff;
  --bg-element1: #fff;
  --bg-element2: #f8f9fa;
  --bg-element3: #e9ecef;
  --bg-element4: #dee2e6;
  --bg-element5: #212529;
  --bg-element6: #343a40;
  --bg-element7: #fafafa;
  --bg-element8: #fbfdfc;
  --bg-invert: #1e1e1e;
  --bg-inline-code: #e9ecef;
  --bg-tag: #f8f9fa;

  /* Text */
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --text4: #ced4da;

  /* Additional Colors */
  --primary1: #12b886;
  --primary2: #20c997;
  --destructive1: #ff6b6b;
  --destructive2: #ff8787;
  --button-text: #fff;
  --slight-layer: rgba(0, 0, 0, .05);
  --opaque-layer: hsla(0, 0%, 98%, .85);
  --editor-footer: #fff;

  /* Prism (code highlighting) */
  --prism-bg: #fbfcfd;
  --prism-default-text: #24292e;
  --prism-selection-bg: rgba(0, 0, 0, .15);
  --prism-code-block-bg: #fbfcfd;
  --prism-code1: #969896;
  --prism-code2: #24292e;
  --prism-code3: #a626a4;
  --prism-code4: #63a35c;
  --prism-code5: #0184bc;
  --prism-code6: #50a14f;
  --prism-code7: #a626a4;
  --prism-code8: #005cc5;
  --prism-code9: #a626a4;
  --prism-line-number: #585c63;

  /* Fonts */
  --heading1: 700 2.4rem/3.2rem "Pretendard", sans-serif;
  --heading2: 700 2.2rem/3rem "Pretendard", sans-serif;
  --heading3: 700 2rem/2.8rem "Pretendard", sans-serif;
  --heading4: 600 1.8rem/2.6rem "Pretendard", sans-serif;
  --body1-normal-semi: 600 1.6rem/2.4rem "Pretendard", sans-serif;
  --body1-normal-medi: 500 1.6rem/2.4rem "Pretendard", sans-serif;
  --body1-long: 400 1.6rem/2.6rem "Pretendard", sans-serif;
  --body2-normal-semi: 600 1.4rem/2rem "Pretendard", sans-serif;
  --body2-normal-medi: 500 1.4rem/2rem "Pretendard", sans-serif;
  --body2-long: 400 1.4rem/2.2rem "Pretendard", sans-serif;
  --caption1-semi: 600 1.2rem/1.8rem "Pretendard", sans-serif;
  --caption1-medi: 500 1.2rem/1.8rem "Pretendard", sans-serif;
  --caption2-semi: 600 1.1rem/1.6rem "Pretendard", sans-serif;
  --caption2-medi: 500 1.1rem/1.6rem "Pretendard", sans-serif;
}
