/* 헤더 */
header {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  padding: 2rem;
  box-sizing: border-box;

  background-color: black;
  font-size: 2rem;

  & div:first-child {
    text-align: left;
  }
  & div:nth-child(2) {
    text-align: center;
  }
  & div:last-child {
    text-align: right;
  }
}
